<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EcommerceAutomationSuite" verbose="1">
    <!-- ✅ Extent Report Listener -->
    <listeners>
        <listener class-name="utilities.ExtentReportListener" />
    </listeners>
    <parameter name="os" value="windows"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="runMode" value="local"/>
    <test name="AccountRegistrationTest">
        <classes>
            <class name="testCases.TC_001AccountRegistrationTest" />
        </classes>
    </test>
</suite>
